<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body ng-app="directoryApp">
    <div class="content" ng-controller="ListingsController">
        <div class="modal fade" id="modal-add" tabindex="-1" role="dialog" 
             aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" ng-click="clear();" class="close" 
                           data-dismiss="modal" style="font-size: 1.6vw;">
                               <span aria-hidden="true">&times;
                                </span>
                        </button>
                        <h2 class="modal-title" id="myModalLabel">
                            Add Directory
                        </h2>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <input type="text" class="form-control" id="codeInput" placeholder="Code" ng-model="detailedInfo['code']">
                                <input type="text" class="form-control" id="buildingInput" placeholder="Building Name" ng-model="detailedInfo['name']">
                                <label for="latitudeInput" style="color: black; font-weight: 600; font-size: 1.4vw;">Coordinates</label>
                                <input type="text" class="form-control" id="latitudeInput" placeholder="Latitude" ng-model="detailedInfo['coordinates']['latitude']">
                                <input type="text" class="form-control" id="longitudeInput" placeholder="Longitude" ng-model="detailedInfo['coordinates']['longitude']">
                                <input type="text" class="form-control" id="addressInput" placeholder="Address" ng-model="detailedInfo['address']">
                            </div>
                        </form>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" ng-click="addListing()" class="btn btn-primary">
                            Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="nav-bar">
            <h1 style="font-size: 3vw; margin: 32px;">UF Directory App</h1>
        </div>
        <div class="row" style="padding: 32px;">
            <div class="col-md-6" style="height: 100%;">
                <div class="input-group" id="searchBar">
                    <!-- 

                    Implement a way to filter through listings using the search bar 

                    -->

                    <span class="input-group-addon" id="sizing-addon1">
                        <span class="glyphicon glyphicon-search" style="font-size: 1.4vw;"></span>
                    </span>
                    <input type="search" class="form-control" ng-model="q" placeholder="Search" aria-label="filter listings">
                </div>
                <div class="tableWrapper">
                    <table class="table table-striped table-hover table-bordered">
                        <thead class="thead">
                            <tr>
                                <th>Code</th>
                                <th>Building Name</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="animate-repeat" ng-repeat="entry in listings | filter:q as results" ng-click="showDetails($index)">
                                <td>
                                    {{entry["code"]}}
                                </td>
                                <td>
                                    {{entry["name"]}}
                                </td>
                                <td>
                                    <span class="glyphicon glyphicon-remove" style="color: #d9534f;" ng-click="deleteListing($index)"></span>
                                </td>
                            </tr>  
                        </tbody>  
                        <tfoot>
                            <tr>
                                <td>
                                    
                                </td>                 
                                <td>
                                    
                                </td>                 
                                <td>
                                    
                                </td>
                            </tr>
                        </tfoot>
                        <!-- 

                        Fill in the rest of the table:
                        * populate the rows with the code and name of each listing
                        * include a way to remove individual listings
                        --> 
                    </table>
                </div>
                
                <button class="strip-btn btn btn-primary" data-toggle="modal" data-target="#modal-add">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <!-- 

                Write an HTML form that adds new listings to the directory 

                -->
            </div>
            <div class="col-md-6">
                    <div class="jumbotron" id="detail-header">
                            <h2>Detailed Information</h2>
                    </div>
                    <div class="detail" style="background-color: white;">
                        <div class="row">
                            <div class="col-sm-6" style="color: darkgray;">
                                <h2>Code:</h2>
                            </div>
                            <div class="col-sm-6"> 
                                <h2>{{detailedInfo["code"]}}</h2>
                            </div>
                        </div>
                        <hr style="margin-left: 10%;">
                        <div class="row">
                            <div class="col-sm-6" style="color: darkgray;">
                                <h2>Building Name:</h2>
                            </div>
                            <div class="col-sm-6"> 
                                <h2>{{detailedInfo["name"]}}</h2>
                            </div>
                        </div>
                        <hr style="margin-left: 10%;">
                        <div class="row">
                            <div class="col-sm-6" style="color: darkgray;">
                                <h2>Coordinates:</h2>
                            </div>
                            <div class="col-sm-6"> 
                                <h2>{{detailedInfo["coordinates"]["latitude"]}} : {{detailedInfo["coordinates"]["longitude"]}}</h2>
                            </div>
                        </div>
                        <hr style="margin-left: 10%;">
                        <div class="row">
                            <div class="col-sm-6" style="color: darkgray;">
                                <h2>Address:</h2>
                            </div>
                            <div class="col-sm-6"> 
                                <h2>{{detailedInfo["address"]}}</h2>
                            </div>
                        </div>
                    </div>
                
                  <!-- 

                    Include a way to display detailed information about an individual listing:
                    * consider how to use ng-click within the the table to implement this feature

                    -->
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="app.js"></script>
    <script src="listingController.js"></script>
    <script src="listingFactory.js"></script>
</body>
</html>