body {
    font-size: 1.6vw;
    height: 100%;
    width: 100%;
    font-family: 'Open Sans', 'Arial';
}

body h2 {
    font-size: 1.6vw;
}

#nav-bar {
    margin: 0;
    background-color: #428bca;
    color: #f9f9f9;
    height: auto;
}

modal {
    width: 100%;
    height: 100%;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-dialog {
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.modal-content {
    width: 60%;
    height: fit-content;
    padding: 32px;
    border-radius: 10px;
}

.modal-footer {
    margin: 0px;
    padding: 0;
    overflow: hidden;
}


.modal-content .form-control {
    height: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 1.6vw;
}


label {
    margin: 0;
    padding: 0;
}
#latitudeInput {
    margin-top: 0px;
}

#longitudeInput, #addressInput {
    margin-bottom: 32px;
}

.modal-footer .btn {
    width:100%;
    height: 10%;
    border-radius: 6px;
    font-size: 1.6vw;
}


#searchBar {
    margin-bottom: 32px;
    width: 100%;
    height: 64px;
}

.glyphicon {
    color: white;
}

#searchBar .glyphicon {
    margin: 0;
    padding: 8px;
    width: fit-content;
    height: fit-content;
    color: darkslategrey;
}

#sizing-addon1 {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchBar .form-control {
    height: 100%;
    width: 90%;
    font-size: 1.4vw;
}


td {
/*    padding: 100px !important;*/
    padding: 16px !important;
}

th {
    padding: 16px !important;
    background-color: #428bca;
    color: #f9f9f9;
}

.table tfoot tr td {
    padding: 16px !important;
    border: 0;
    background-color: lightgray;
}

td .glyphicon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    vertical-align: middle !important;
    padding: 16px !important;
}

.tableWrapper {
    height: 400px;
    width: 100%;
    overflow: scroll;
}

.strip-btn {
    position: relative;
    width: 100%;
    height: 64px;
    border-radius: 10px;
    
    font-size: 1.6vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn, .btn-primary{
    background-color: #428bca;
}

.content {
    margin: 0;
    padding: 0;
    width: 100%; 
    height: 100%;
    position: absolute;
    background-color: #f9f9f9;
}

#detail-header {
    height: 10%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#detail-header h2 {margin: 0;}

.detail {
    padding: 32px;
    border-radius: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
/*    white-space: nowrap;*/
}

.detail h2 {
    margin-top: 10%;
    margin-bottom: 10%;
}

.animate-repeat {
  line-height:30px;
  list-style:none;
  box-sizing:border-box;
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.48s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
/*  max-height:0;*/
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
/*  max-height:30px;*/
}